*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aqua;
    overflow: hidden;
}
.gameContainer{
    background-image: url(BG.JPEG.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;

}

.dino{
    background-image: url(dino\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 235px;
    height: 120px;
    position: absolute;
    bottom: 0;
    left: 52px;

}

.obstacle{
    width: 150px;
    height: 124px;
    background-image: url();
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 44vw;
    

}

.animateDino{
    animation: dino 0.6s linear;
}

.obstacleAni{
    animation: obstacleAni 5s linear infinite;
}

@keyframes dino {
    0%{

        bottom: 0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0;
    }
    
}

@keyframes obstacle {
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
    
}
